* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: hsl(220 20% 98%);
  background-color: hsl(220 20% 14%);
  overflow: hidden;
}

img {
  border-radius: 20px;
}

a {
  color: hsl(220 20% 98%);
}
